<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand fs-3 text-danger text-decoration-none" href="#"
      ><strong>EGY</strong> <i>Pharmacy</i></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About US</a>
        </li>
      </ul>
      <div class="d-flex align-items-center text-center">
        <h3 class="fs-5 text-light mx-3 my-0">Hello,User</h3>
        <i class="bi bi-person-circle text-primary fs-1 d-flex"></i>
      </div>
    </div>
  </div>
</nav>
<app-dashboard> </app-dashboard>
